In [1]:
%%javascript
/** Below because this notebook is pretty large */
var rto = 200;
console.log('NB: Increase require timeout to ' + rto + ' seconds');
window.requirejs.config({waitSeconds: rto});

## Importacion de Librerías y Configuración de Consola

In [8]:
import time 
import os
import janitor
import pandas as pd
import numpy as numpy
from pandas_datareader import data as pdr
from pathlib import Path


# Antes de utilizar esta librería, descargarla. Ingresar en terminal: pip install yfinance --upgrade --no-cache-dir
import yfinance as yf
yf.pdr_override() # <== that's all it takes :-)

In [27]:
# Especificamos el directorio base, retrocediendo una carpeta
BASE = Path('..')
# Y, a partir de allí, definimos las carpetas que debieran existir
RAW = BASE/'raw'
NOTEBOOKS = BASE/'notebooks'
DATA = BASE/'data'
REFERENCIAS = BASE/'referencias'
PERFORMANCE = BASE/'performance'

In [33]:
# Creamos todos los directorios que definimos previamente, si no existieran aún.
path_list = [RAW, NOTEBOOKS, DATA, REFERENCIAS, PERFORMANCE]
for path_i in path_list:
    if not os.path.exists(path_i):
        os.makedirs(path_i)

In [34]:
#Tomo el tiempo al inicio de la ejecucion
start_time=time.time()

In [35]:
#Seteamos para que no utilice notacion cientifica
pd.options.display.float_format = '{:.9f}'.format
#Seteo para que el máximo de columnas que muestra al levantar una base sean 500
pd.set_option('display.max_columns',500)
#Estos códigos hacen que la visualización de la consola abarque toda la pantalla (sin los recortes a los costados). Tambien hacen que al mostrar dataframes podamos ver todas las columnas que tiene.
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [36]:
# Codigo para poder imprimir multiples outputs en una misma línea
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [37]:
# Definiremos el directorio en el que estamos trabajando. 
scripts=os.getcwd()  #Obtenemos la direccion actual
os.chdir('..') # Nos vamos una carpeta atrás
raiz=os.getcwd() # Esta direccion la guardaremos como "raiz" 
os.chdir(raiz+'\\raw') 
raw=os.getcwd()
os.chdir(raiz+'\\raw')
outputs=os.getcwd()

# Importacion de Archivos

## Ingresamos Fecha de Hoy

In [38]:
from datetime import date
today = date.today()
Today_Date = str(today)

## Informacion BCBA

### Índices Merval

In [39]:
# Importamos el indice Merval
ticker_merval = '^MERV'
indice_merval = pdr.get_data_yahoo(ticker_merval, start="2000-01-02", end=Today_Date)
indice_merval['Instrumento'] = 'Merval'
indice_merval.head()
indice_merval.tail(2)

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,Instrumento
Date,,,,,,,
2000-01-03,550.280029297,559.950012207,550.280029297,551.830017090,551.830017090,0,Merval
2000-01-04,550.840026855,550.840026855,522.969970703,522.969970703,522.969970703,0,Merval
2000-01-05,522.580017090,533.900024414,516.900024414,532.679992676,532.679992676,0,Merval
2000-01-06,533.210021973,533.669982910,525.809997559,528.469970703,528.469970703,0,Merval
2000-01-07,528.469970703,533.070007324,521.330017090,522.119995117,522.119995117,0,Merval

,Open,High,Low,Close,Adj Close,Volume,Instrumento
Date,,,,,,,
2021-01-29,49630.089843750,49999.929687500,48202.859375000,48257.140625000,48257.140625000,0,Merval
2021-02-01,48257.140625000,49773.820312500,48257.140625000,49576.890625000,49576.890625000,0,Merval

In [40]:
indice_merval['Volume']

Date
2000-01-03    0
2000-01-04    0
2000-01-05    0
2000-01-06    0
2000-01-07    0
             ..
2021-01-26    0
2021-01-27    0
2021-01-28    0
2021-01-29    0
2021-02-01    0
Name: Volume, Length: 5149, dtype: int64

In [41]:
df_merval = (janitor.clean_names(indice_merval)).copy()
df_merval.rename(columns={'instrumento':'merval'}, inplace=True)
df_merval.columns = df_merval.columns.str.lower()

df_merval.head(2)

,open,high,low,close,adj_close,volume,merval
Date,,,,,,,
2000-01-03,550.280029297,559.950012207,550.280029297,551.830017090,551.830017090,0,Merval
2000-01-04,550.840026855,550.840026855,522.969970703,522.969970703,522.969970703,0,Merval

In [42]:
df_merval.tail()

,open,high,low,close,adj_close,volume,merval
Date,,,,,,,
2021-01-26,47469.960937500,49551.910156250,47469.960937500,49463.839843750,49463.839843750,0,Merval
2021-01-27,49463.839843750,50218.558593750,48603.941406250,49970.410156250,49970.410156250,0,Merval
2021-01-28,49970.410156250,50523.589843750,49344.109375000,49630.089843750,49630.089843750,0,Merval
2021-01-29,49630.089843750,49999.929687500,48202.859375000,48257.140625000,48257.140625000,0,Merval
2021-02-01,48257.140625000,49773.820312500,48257.140625000,49576.890625000,49576.890625000,0,Merval

### Acciones Argentinas

In [43]:
# Importamos las cotizaciones históricas, hasta hoy, de las acciones argentinas desde Yahoo Finance
# Ojo: A veces la informacion está mal. La librería funciona bien, scrapea la pagina correctamente.
# pero es la página de Yahoo la que le pifia (ej: BBAR muestra que todos los dias la cotizacion fue 142.5, cualquiera)
lista_tickers_acciones_argentinas = ['auso',
                                     'agro',
                                     'ggal',
                                     'bhip',
                                     'bma',
                                     'bpat',
                                     'brio',
                                     'byma',
                                     'ctio',
#                                      'cvh',
                                     'edn',
                                     'ferr',
                                     'fipl',
                                     'gcla',
                                     'hava',
                                     'bbar',
                                     'grim',
                                     'lede',
                                     'long',
                                     'metr',
                                     'moli',
                                     'mori',
                                     'mvia',
                                     'supv',
                                     'ypfd'
                                     ]
lista_tickers_acciones_argentinas_original = lista_tickers_acciones_argentinas.copy()
df_acciones_arg = pdr.get_data_yahoo(lista_tickers_acciones_argentinas[0] + ".BA", start="2000-01-02", end=Today_Date)[['Adj Close']]
df_acciones_arg.columns=[lista_tickers_acciones_argentinas[0]]
del lista_tickers_acciones_argentinas[0]

# Creamos dict vacio para luego colocarle la data
dict_acciones_argentinas = {}

for ticker in lista_tickers_acciones_argentinas:
    # download dataframe using pandas_datareader
    df_aux = pdr.get_data_yahoo(ticker + ".BA", start="2000-01-02", end=Today_Date)
    df_aux['ticker'] = ticker
    # al dataframe le limpiamos los nombres de las columnas con janitor, y lo copiamos dentro del dict
    dict_acciones_argentinas[ticker] = (janitor.clean_names(df_aux)).copy()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MVIA.BA: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [44]:
a = dict_acciones_argentinas['ggal']
a

,open,high,low,close,adj_close,volume,ticker
Date,,,,,,,
2000-07-26,1.730000019,1.750000000,1.700000048,1.730000019,1.664921522,422242,ggal
2000-07-27,1.750000000,1.759999990,1.730000019,1.750000000,1.684168935,344044,ggal
2000-07-28,1.720000029,1.740000010,1.710000038,1.720000029,1.655297518,561980,ggal
2000-07-31,1.750000000,1.759999990,1.690000057,1.750000000,1.684168935,381111,ggal
2000-08-01,1.759999990,1.860000014,1.690000057,1.759999990,1.693792820,1968000,ggal
...,...,...,...,...,...,...,...
2021-01-26,112.400001526,118.900001526,112.400001526,117.800003052,117.800003052,1163097,ggal
2021-01-27,117.449996948,119.900001526,115.000000000,118.800003052,118.800003052,1052824,ggal
2021-01-28,117.599998474,120.699996948,117.599998474,119.500000000,119.500000000,808116,ggal
2021-01-29,120.449996948,120.449996948,115.050003052,115.699996948,115.699996948,1551028,ggal
2021-02-01,116.099998474,119.300003052,116.099998474,119.150001526,119.150001526,874855,ggal

In [ ]:
# df_cruce = pd.merge(df_merval, df_acciones_arg, how='inner', left_index=True, right_index=True )
# df_cruce.sort_values(by='Date', ascending=True, axis='index',inplace=True)
# df_cruce.head()
# len(df_cruce)

# Serie Dolar Blue

## Importamos desde una página las cotizaciones desde 2015 hasta hoy

In [45]:
import requests
from bs4 import BeautifulSoup
import datetime
import pandas as pd

def scrap(año, mes):
    url  = 'https://www.cotizacion-dolar.com.ar/dolar-blue-historico-'+str(año)+'.php'
    for i in range(1,7):
        try:        
            fecha = datetime.datetime(año,mes,i)
            data = {'fecha': fecha.strftime('%d-%m-%y')}
            resp = requests.post(url, data=data)
            soup = BeautifulSoup(resp.text, "html.parser")
            break
        except:
            print('Falló en ',i)    
    filas = soup.find_all('td', {'style' : 'padding: 1%'})
    return filas

def parsear(filas):
    mensual = pd.DataFrame() 
    for i in range(1, int(len(list(filas))/3)):
        dic = {}
        dic['fecha'] = filas[3*i].text
        dic['bid'] = filas[3*i+1].text
        dic['ask'] = filas[3*i+2].text
        rueda = pd.DataFrame.from_dict(dic, orient='index').transpose().set_index('fecha')
        rueda.index = pd.to_datetime(rueda.index, format='%d-%m-%y ')
        mensual = pd.concat([mensual,rueda], axis=0)
    return mensual

def downloadAño(año):
    tablaAnual = pd.DataFrame()
    for i in range(1,13):
        filas = scrap(año=año, mes=i)
        tabla = parsear(filas)
        tablaAnual = pd.concat([tablaAnual,tabla],axis=0)
        print('mes',i, 'del año ', str(año), 'listo')        
#     tablaAnual.to_excel('blue_'+str(año)+'.xlsx')
    return tablaAnual 
    print(tablaAnual)
    
# downloadAño(2016)

In [50]:
dolar_blue = {}
for i in np.arange(2015, 2022, 1):  
    dolar_blue[str(i)] = downloadAño(i)

mes 1 del año  2015 listo
mes 2 del año  2015 listo
mes 3 del año  2015 listo
mes 4 del año  2015 listo
mes 5 del año  2015 listo
mes 6 del año  2015 listo
mes 7 del año  2015 listo
mes 8 del año  2015 listo
mes 9 del año  2015 listo
mes 10 del año  2015 listo
mes 11 del año  2015 listo
mes 12 del año  2015 listo
mes 1 del año  2016 listo
mes 2 del año  2016 listo
mes 3 del año  2016 listo
mes 4 del año  2016 listo
mes 5 del año  2016 listo
mes 6 del año  2016 listo
mes 7 del año  2016 listo
mes 8 del año  2016 listo
mes 9 del año  2016 listo
mes 10 del año  2016 listo
mes 11 del año  2016 listo
mes 12 del año  2016 listo
mes 1 del año  2017 listo
mes 2 del año  2017 listo
mes 3 del año  2017 listo
mes 4 del año  2017 listo
mes 5 del año  2017 listo
mes 6 del año  2017 listo
mes 7 del año  2017 listo
mes 8 del año  2017 listo
mes 9 del año  2017 listo
mes 10 del año  2017 listo
mes 11 del año  2017 listo
mes 12 del año  2017 listo
mes 1 del año  2018 listo
mes 2 del año  2018 listo
mes 3 del año  2018 listo
mes 4 del año  2018 listo
mes 5 del año  2018 listo
mes 6 del año  2018 listo
mes 7 del año  2018 listo
mes 8 del año  2018 listo
mes 9 del año  2018 listo
mes 10 del año  2018 listo
mes 11 del año  2018 listo
mes 12 del año  2018 listo
mes 1 del año  2019 listo
mes 2 del año  2019 listo
mes 3 del año  2019 listo
mes 4 del año  2019 listo
mes 5 del año  2019 listo
mes 6 del año  2019 listo
mes 7 del año  2019 listo
mes 8 del año  2019 listo
mes 9 del año  2019 listo
mes 10 del año  2019 listo
mes 11 del año  2019 listo
mes 12 del año  2019 listo
mes 1 del año  2020 listo
mes 2 del año  2020 listo
mes 3 del año  2020 listo
mes 4 del año  2020 listo
mes 5 del año  2020 listo
mes 6 del año  2020 listo
mes 7 del año  2020 listo
mes 8 del año  2020 listo
mes 9 del año  2020 listo
mes 10 del año  2020 listo
mes 11 del año  2020 listo
mes 12 del año  2020 listo
mes 1 del año  2021 listo
mes 2 del año  2021 listo
mes 3 del año  2021 listo
mes 4 del año  2021 listo
mes 5 del año  2021 listo
mes 6 del año  2021 listo
mes 7 del año  2021 listo
mes 8 del año  2021 listo
mes 9 del año  2021 listo
mes 10 del año  2021 listo
mes 11 del año  2021 listo
mes 12 del año  2021 listo

In [51]:
df_db = pd.concat(dolar_blue.values(), ignore_index=False)
df_db.head(2)
df_db.tail(2)

                  bid       ask
fecha
2015-07-22   $ 14.80    $ 14.90
2015-07-23   $ 14.51    $ 14.66

                   bid        ask
fecha
2021-02-01   $ 148.80    $ 153.00
2021-02-02   $ 148.80    $ 153.00

## Desde un excel traemos los datos más antiguos

In [54]:
db_ambito = pd.read_excel(RAW/'serie_dolar_blue.xlsx' )
db_ambito = db_ambito[['Fecha','Venta']]
db_ambito.head(2)
db_ambito.tail(2)

       Fecha   Venta
0 2020-10-01  147,00
1 2020-09-30  146,00

          Fecha Venta
4648 2002-01-14  1,68
4649 2002-01-11  1,70

## Generamos la serie histórica completa de dolar blue

In [55]:
# Reseteamos el index de la primer serie, por comodidad
df_db.reset_index(inplace=True)
# Cruzamos los dataframes
cruza_db = pd.merge(db_ambito, df_db, how='outer', left_on='Fecha', right_on='fecha')
cruza_db['Fecha_OK'] = np.where(cruza_db['Fecha'].isnull(), cruza_db['fecha'], cruza_db['Fecha'])
cruza_db.sort_values(by='Fecha_OK',inplace=True)
cruza_db['Venta'] = cruza_db['Venta'].str.replace(',','.')
cruza_db['ask'] = cruza_db['ask'].str.replace('$','')
cruza_db['dif'] = np.where(~(cruza_db['Venta'].isnull()) | (cruza_db['ask'].isnull()),
                           cruza_db['Venta'].astype(float) - cruza_db['ask'].astype(float),
                           0)
cruza_db['Venta_DBlue'] = np.where(cruza_db['Venta'].isnull(), cruza_db['ask'], cruza_db['Venta']) 
cruza_db['Venta_DBlue'] = cruza_db['Venta_DBlue'].astype(float)
cruza_db = cruza_db[['Fecha_OK', 'Venta_DBlue']]

cruza_db

       Fecha_OK   Venta_DBlue
4649 2002-01-11   1.700000000
4648 2002-01-14   1.680000000
4647 2002-01-15   1.950000000
4646 2002-01-16   1.870000000
4645 2002-01-17   1.970000000
...         ...           ...
4737 2021-01-27 154.000000000
4738 2021-01-28 154.400000000
4739 2021-01-29 153.000000000
4740 2021-02-01 153.000000000
4741 2021-02-02 153.000000000

[4742 rows x 2 columns]

# Creación de funciones ad hoc

In [ ]:
# Función que genera la VD binaria para distintas ventanas temporales. 
# Para cada horizonte, se exige que el rendimiento porcentual haya superado el threshold.

def window_vds(df_input, list_windows=[1, 5, 10, 22], list_names=['1d', '1w', '2w','1m'], threshold=0.0):

    # umbral de rendimientos
    threshold_vd = threshold

    for window, name in zip(list_windows, list_names):
        # calculamos el máximo rendimiento alcanzado en la ventana temporal posterior a cada día
        window = 1 # próximo dia habil
        df_input['up_' + str(name)] =  (df_input['adj_close'].rolling(window=window, min_periods=1).max().shift(-window) - df_input['adj_close']) / df_input['adj_close']    
        df_input['vd_' + str(name)] =  np.where(  df_input['up_' + str(name)] > threshold_vd , 1 , 0)
    
    # vemos cuales columnas auxiliares hay que quitar (todas las que dicen 'up_')
    list_to_drop = ['up_' + str(name) for name in list_names]
    df_input.drop(columns=list_to_drop, inplace=True)
    return df_input

In [ ]:
# Funcion para la creacion de atributos
def attributes_generator(df_input):
    # ratios respecto al valor open
    df_input['ratio_high_open'] = df_input['high'] / df_input['open']
    df_input['ratio_low_open'] = df_input['low'] / df_input['open']
    df_input['ratio_close_open'] = df_input['adj_close'] / df_input['open']
    # ratios respecto al valor close
    df_input['ratio_high_close'] = df_input['high'] / df_input['adj_close']
    df_input['ratio_low_close'] = df_input['low'] / df_input['adj_close']
    # ratio high low
    df_input['ratio_high_low'] = df_input['high'] / df_input['low']
    
    # ratio todo respecto a su media
    df_input['ratio_open_itsmean'] = df_input['open'] / (df_input['high'].mean())
    df_input['ratio_close_itsmean'] = df_input['adj_close'] / (df_input['high'].mean())
    df_input['ratio_low_itsmean'] = df_input['low'] / (df_input['high'].mean())
    df_input['ratio_high_itsmean'] = df_input['high'] / (df_input['high'].mean())
    
    # ratio todo respecto a la media del close
    df_input['ratio_open_meanclose'] = df_input['open'] / (df_input['adj_close'].mean())
    df_input['ratio_close_meanclose'] = df_input['adj_close'] / (df_input['adj_close'].mean())
    df_input['ratio_low_meanclose'] = df_input['low'] / (df_input['adj_close'].mean())
    df_input['ratio_high_meanclose'] = df_input['high'] / (df_input['adj_close'].mean())
    
    
    # Rezagos y tendencias!!

# Cruce de datos

## Trabajamos un poco el df de merval antes de cruzarlo

In [ ]:
a = window_vds(df_merval, threshold=0.0)
a

In [ ]:
df_cruce.head()

In [ ]:
os.chdir(inputs)
os.getcwd()
db_ambito = pd.read_excel('dolar_blue\\serie_dolar_blue.xlsx', )
db_ambito = db_ambito[['Fecha','Venta']]
df_db.reset_index(inplace=True)
cruza_db = pd.merge(db_ambito, df_db, how='outer', left_on='Fecha', right_on='fecha')
cruza_db['Fecha_OK'] = np.where(cruza_db['Fecha'].isnull(), cruza_db['fecha'], cruza_db['Fecha'])
cruza_db.sort_values(by='Fecha_OK',inplace=True)
cruza_db['Venta'] = cruza_db['Venta'].str.replace(',','.')
cruza_db['ask'] = cruza_db['ask'].str.replace('$','')
cruza_db['dif'] = np.where(~(cruza_db['Venta'].isnull()) | (cruza_db['ask'].isnull()),
                           cruza_db['Venta'].astype(float) - cruza_db['ask'].astype(float),
                           0)
cruza_db['Venta_DBlue'] = np.where(cruza_db['Venta'].isnull(), cruza_db['ask'], cruza_db['Venta']) 
cruza_db['Venta_DBlue'] = cruza_db['Venta_DBlue'].astype(float)
cruza_db = cruza_db[['Fecha_OK', 'Venta_DBlue']]

cruza_db

In [ ]:
df_acciones_db = pd.merge(df_cruce, cruza_db, how='inner', left_on='Date', right_on='Fecha_OK')
df_acciones_db.head(2)

In [ ]:
df_acciones_db['Venta_DBlue']

In [ ]:
lista_no_dolarizar = ['Fecha_OK', 'Venta_DBlue']
lista_dolarizar = set(df_cruce.columns.tolist()) - set(lista_no_dolarizar)
for i in lista_dolarizar:
    df_acciones_db[ str(i) + '_USD' ] = df_acciones_db[i] / df_acciones_db['Venta_DBlue'] 
# df_acciones_db = df_acciones_db[~df_acciones_db['Retorno_merval'].isnull()]
df_acciones_db.head()

In [ ]:
df_acciones_db

In [ ]:
bu = df_acciones_db.copy()
df_acciones_db = df_acciones_db[df_acciones_db['Fecha_OK']>'2010-05-01']
lista_en_usd = df_acciones_db.columns.tolist() 
lista_en_usd = [k for k in lista_en_usd if '_USD' in k]
ver_usd = df_acciones_db[lista_en_usd]
ver_usd.head(2)

In [ ]:
oportunidades = pd.DataFrame(ver_usd.max())
oportunidades.columns = ['Max']
oportunidades['Max_Realista'] = oportunidades['Max'] * 0.75
oportunidades['Valor_Hoy'] = ver_usd.tail(1).T.values
oportunidades['Size_of_Prize'] = oportunidades['Max_Realista'] / oportunidades['Valor_Hoy']
oportunidades.sort_values(by='Size_of_Prize',inplace=True, ascending=False)
oportunidades

In [ ]:
# df_merv_db = pd.merge(indice_merval, cruza_db, how='inner', left_on='Date',right_on = 'Fecha_OK')[['Date','Fecha_OK','Adj Close','Instrumento', 'Venta_DBlue']]
# # df_merv_db['ask'] = df_merv_db['ask'].astype(float)
# df_merv_db['DBlue'] = df_merv_db['Venta_DBlue']
# df_merv_db['DBlue'] = df_merv_db['DBlue'].astype(float)
# df_merv_db['Merv_USD'] = df_merv_db['Adj Close'] / df_merv_db['DBlue']
# df_merv_db.head(3)
# df_merv_db.tail(3)

In [ ]:
# df_merv_db.tail(20)

In [ ]:
A = 45482 / 165
A

In [ ]:
B = 1400 / 275 
B

In [ ]:
df_acciones_db['merval_USD'].min()

In [ ]:
df_acciones_db['merval_USD'].max()
df_acciones_db['merval_USD'].min()
df_acciones_db['merval_USD'].max() /df_acciones_db['merval_USD'].min()

In [ ]:
import matplotlib.pyplot  as plt
from matplotlib.pyplot import cm

plt.rcParams["figure.figsize"] = (15,15)

color=iter(cm.tab20(np.linspace(0,1,len(ver_usd.columns.tolist()))))
for i in ver_usd.columns.tolist():
    color_i = next(color)
#     print('el color es esta garcha: ',color_i)
    plt.plot('Fecha_OK', str(i), data=df_acciones_db, color=color_i)
    plt.title(i + ' en USD Blue')
    plt.ylim([0, None]) 
    plt.show()

In [ ]:
import requests

In [ ]:
import requests


PARAMS = {
    "status":"OK",
    "segments":[
        {
            "marketSegmentId":"DDA",
            "marketId":"ROFX"
        },
        {
            "marketSegmentId":"DDF",
            "marketId":"ROFX"
        }
                ]
        }
# response = requests.get('https://api.remarkets.primary.com.ar/auth/getToken', params = PARAMS)
response = requests.get('https://api.remarkets.primary.com.ar/rest/segment/all', params = PARAMS)

In [ ]:
response.text

In [ ]:
import matplotlib.pyplot  as plt
# colors = ['green','steelblue','grey','orange', 'red']
# plt.scatter('Date', 'Merv_USD', c='green', data=df_merv_db, s=150)
# plt.xlabel('entry a')
# plt.ylabel('entry b')
plt.rcParams["figure.figsize"] = (12,12)
#plt.show()
# plt.plot('Fecha_OK', 'merval_USD', data=df_acciones_db, color='green')
plt.plot('Fecha_OK', 'ypfd_USD', data=df_acciones_db, color='darkorange')
plt.title('Merval en USD Blue')
plt.ylim([0, None]) 
plt.show()

In [ ]:
import matplotlib.pyplot  as plt
# colors = ['green','steelblue','grey','orange', 'red']
# plt.scatter('Date', 'Merv_USD', c='green', data=df_merv_db, s=150)
# plt.xlabel('entry a')
# plt.ylabel('entry b')
plt.rcParams["figure.figsize"] = (12,12)
#plt.show()
# plt.plot('Fecha_OK', 'merval_USD', data=df_acciones_db, color='green')
plt.plot('Fecha_OK', 'agro_USD', data=df_acciones_db, color='lightblue')
plt.title('Merval en USD Blue')
plt.ylim([0, None]) 
plt.show()

In [ ]:
import matplotlib.pyplot  as plt
# colors = ['green','steelblue','grey','orange', 'red']
# plt.scatter('Date', 'Merv_USD', c='green', data=df_merv_db, s=150)
# plt.xlabel('entry a')
# plt.ylabel('entry b')
plt.rcParams["figure.figsize"] = (12,12)
#plt.show()
# plt.plot('Fecha_OK', 'merval_USD', data=df_acciones_db, color='green')
plt.plot('Fecha_OK', 'agro_USD', data=df_acciones_db, color='goldenrod')
plt.title('Merval en USD Blue')
plt.ylim([0, None]) 
plt.show()

In [ ]:
import matplotlib.pyplot  as plt
# colors = ['green','steelblue','grey','orange', 'red']
# plt.scatter('Date', 'Merv_USD', c='green', data=df_merv_db, s=150)
# plt.xlabel('entry a')
# plt.ylabel('entry b')
plt.rcParams["figure.figsize"] = (12,12)
#plt.show()
plt.plot('Fecha_OK', 'merval_USD', data=df_acciones_db, color='green')
plt.title('Merval en USD Blue')
plt.ylim([0, 1800]) 
plt.show()

In [ ]:
# Tomo el tiempo al final de la ejecucion
end_time=time.time()
print('El script demora', (end_time-start_time)/60, 'minutos')